# Copyright 2023 EPFL
# Solderpad Hardware License, Version 2.1, see LICENSE.md for details.
# SPDX-License-Identifier: Apache-2.0 WITH SHL-2.1
#
# Author: Simone Machetti - simone.machetti@epfl.ch

hw/src/vendor/vortex.lock.hjson
hw/src/vendor/vortex/
hw/src/vendor/pulp_platform_common_cells.lock.hjson
hw/src/vendor/pulp_platform_common_cells/
hw/src/vendor/pulp_platform_cluster_interconnect.lock.hjson
hw/src/vendor/pulp_platform_cluster_interconnect/
hw/imp/sim/input/
hw/imp/sim/output/
sw/apps/*/build/
sw/apps/*/transcript
sw/apps/*/work/
